iframe {
  display: none;
}

.filters label {
  /* border-top-width: 1px;
  border-bottom-width: 1px;
  display: inline-block;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem; */
}

.filters a.active{
  --tw-bg-opacity: 1;
  background-color: rgba(180, 198, 252, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(104, 117, 245, var(--tw-border-opacity));
}

.filters input[type="radio"]:checked + label {
  --tw-bg-opacity: 1;
  background-color: rgba(180, 198, 252, var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(104, 117, 245, var(--tw-border-opacity));
}
